@import '../../group.css';

.wrapper {
    position: relative;
    display: table;
    min-width: 1024px;
    width: 100%;
    height: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    background: #fff;
}

.arrows-pagination__item:last-child {
    margin-right: 0;
}
.arrows-pagination__item {
    position: relative;
    display: block;
    margin: 0 7px;
}
.arrows-pagination__item-link {
    font-weight: 500;
    font-family: 'Fira Sans',sans-serif;
}
.arrows-pagination__item-link {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #464646;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
}
button.arrows-pagination__item-link {
    color: #548eaa;
}

a.arrows-pagination__item-link {
    color: #548eaa;
}

.toggle-menu_pagination {
    z-index: 5;
}
.posts__pagination{
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    list-style: none;  
}
.toggle-menu {
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    border: 1px solid #d5dddf;
    border-radius: 3px;
    list-style: none;
}

.toggle-menu__item {
    position: relative;
    display: block;
    margin: 0;
    height: 100%;
}

.toggle-menu__item-link {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -1px;
    padding: 0 18px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 3px;
    color: #6c797f;
    font-weight: 700;
    font-size: 13px;
    font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.toggle-menu__item-link:hover {
    color: #4d80aa;
    text-decoration: none;
}

.toggle-menu__item-link_active, .toggle-menu__item-link.active {
    border-color: #77a8d0;
    color: #4d80aa;
}

.toggle-menu__item-link_pagination {
    padding: 0 16px;
    font-size: 14px;
    cursor: pointer;
}
