.form{
  min-height: 75vh;
}

.form-field{
    width: 100%;
    height: 100%;
  }

.upload-area-image-func {
  display:inline-block;
  position:relative;
  padding: 0;
  border: 0;
  background: none;
  width: 100%;
  height: 250px;
} 

.upload-area-image {
  display:block;
  padding: 0;
  border: 0;
  background: none;
  
  width: 100%;
  height: 100%;
  object-fit:contain;

  border-radius: 5px;
  transition: 0.3s;
}

.upload-area-image:hover {
  opacity: 0.7;
  cursor: pointer;
}

.upload-area-button-download {
  display:inline-block;
  position:absolute;
  bottom: 0px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  width: 100%;
  
  color:#fff;
  font-family:Arial, Helvetica, sans-serif;
  font-size:20px;
  
  background: rgba(80, 80, 80);
  opacity: 0.5;
  padding:10px 30px;

  border: 0;
  border-radius: 5px;
}

.upload-area-button-download:hover {
  cursor: pointer;
}

/* .upload-area-button-zoom {
  display:inline-block;
  position:absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  content: ' ';
  opacity: 0;
  height: 50px;
  transition: opacity .4s;
  margin: auto;
  padding: 8px;
  width: 50px;
  border: 0;
  max-width: 200px;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
}

.upload-area-button-zoom:hover {
  opacity: 1;
} */







/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

mat-card-actions .mat-card-actions-leftcolumn{
  float: left;
}

mat-card-actions .mat-card-actions-rightcolumn{
  float: right;
}

.buttons-panel{
  width: 100%; 
  height: 30px; 
  text-align: right
}