@import '../../post.css';

.article-header {
  line-height: 48px;
  font-size: 40px;
  font-family: medium-content-title-font, Georgia, Cambria, "Times New Roman", Times, serif;
  color: rgba(0, 0, 0, 0.84);
  font-weight: 400;
  letter-spacing: 0;
  word-break: break-word;
}

.post__title{
  display: flex;
  justify-content: space-between;
}

.post__buttons{
  display: flex;
}